# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Finder
*~

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
logs
*.log
npm-debug.log*

# Environment Variables
.env
.env.local
.env.*.local

# Build outputs
dist/
build/

# Coverage directory used by tools like istanbul
coverage/

# Other
*.tgz

